
<div tag-body-or="data.body" class="ui $data.ui dropdown item"><i class="dropdown icon"></i>
  <div class="menu">
    <for each="item in data.list">
      <div class="item">$item.label</div>
    </for>
  </div>
</div>