div(class='$data.field field' body-only-if='!data.field')
  div(class='ui $data.ui radio checkbox')
    input(type='radio' value="$data.value" name='$data.name' checked='$data.checked' tabindex='$data.tab')
    label(if='data.label') $data.label
