dynamic(tag-name='$data.tag' class='$data.status step')
  ui-icon(attrs='data.icon' if='data.icon')
    div(class='content' if='data.hasContent')
      div(class='title' if='data.label') $data.label
      div(class='description' if='data.desc') $data.desc
