
<div body-only-if="!data.fieldWrap" class="$data.field field">
  <label if="data.label">$data.label</label>
  <textarea name="$data.name" placeholder="$data.placeholder" rows="$data.rows" class="$data.ui">$data.value</textarea>
</div>