
<if test="$data.lv == 1">
  <h1 class="ui header">$data.label</h1>
</if>
<else-if test="$data.lv == 2">
  <h2 class="ui header">$data.label</h2>
</else-if>
<else-if test="$data.lv == 3">
  <h3 class="ui header">$data.label</h3>
</else-if>
<else>
  <h4 class="ui header">$data.label</h4>
</else>