
<html-element tag-name="$data.tagName" style="$data.style" body-or="data.content" class="$data.ui item">
  <div if="data.list" class="menu">
    <for each="item in data.list">
      <menu-item attrs="item"></menu-item>
    </for>
  </div>
  <ui-image attrs="data.image" if="data.image"></ui-image>
  <ui-icon attrs="data.icon" if="data.icon"></ui-icon>$data.label
</html-element>