
<div class="ui $data.ui text container">
  <h1 class="ui inverted header">$data.title</h1>
  <h2>
     
    $data.caption
  </h2>
  <div class="ui huge primary button">$data.button<i class="right arrow icon"></i></div>
</div>