
<div body-only-if="!data.field" class="field">
  <label if="data.field">$data.field</label>
  <select name="$data.name" multiple="" tab-index="$data.tab" class="ui $data.ui dropdown">
    <select-opts list="data.list"></select-opts>
  </select>
</div>