
<div class="$data.status step">
  <ui-icon icon="$data.icon"></ui-icon>
  <div class="content">
    <if test="$data.label">
      <div class="title">$data.label</div>
    </if>
    <if test="$data.desc">
      <div class="description">$data.desc</div>
    </if>
  </div>
</div>