div(class='ui $data.ui large secondary inverted pointing menu')
  a.toc.item
    i.sidebar.icon
  main-menu(menu='data.main' if='data.main')
  div(class='right item' if='data.session')
    for(each='item in data.session')
      a.ui.inverted.button(href='$item.link') $item.label
