dynamic(tag-name='$data.tagName' class='$data.ui ui label' body-only-if='data.btn' tag-body='')
  ui-image(attrs='data.image' if='data.image')
  ui-icon(attrs='data.icon' else='data.icon') $data.label
