
<dynamic tag-name="$data.tagName" body-only-if="data.btn" tag-body="" class="$data.ui ui label">
  <ui-image attrs="data.image" if="data.image"></ui-image>
  <ui-icon attrs="data.icon" else="data.icon">$data.label</ui-icon>
</dynamic>