
<html-element tag-name="$data.tagName" class="$data.ui ui label">
  <ui-image attrs="data.image" if="data.image"></ui-image>
  <ui-icon attrs="data.icon" label="$data.label" if="data.icon"></ui-icon>
</html-element>