
<div body-only-if="!data.field" class="field">
  <label if="data.field">$data.field</label>
  <textarea name="$data.name" placeholder="$data.placeholder" rows="$data.rows" class="$data.ui">$data.value</textarea>
</div>