
<div body-only-if="!data.fieldWrap" class="$data.field field">
  <div class="ui $data.ui floating dropdown labeled search icon button">
    <ui-icon attrs="data.icon"></ui-icon><span class="text">$data.label</span>
    <ui-menu list="data.list"></ui-menu>
  </div>
</div>