
<div body-only-if="!data.fieldWrap" class="$data.field field">
  <label if="data.label">$data.label</label>
  <select name="$data.name" multiple="" tab-index="$data.tab" if="data.multiple" class="ui $data.ui dropdown">
    <select-opts list="data.selectOpts"></select-opts>
  </select>
  <select name="$data.name" tab-index="$data.tab" else="" class="ui $data.ui dropdown">
    <select-opts list="data.selectOpts"></select-opts>
  </select>
</div>