<a class="$data.status step">
  <if test="data.icon">
    <ui-icon icon="$data.icon"></ui-icon>
  </if>
  <if test="data.hasContent">
    <div class="content">
      <if test="data.label">
        <div class="title">$data.label</div>
      </if>
      <if test="data.desc">
        <div class="description">$data.desc</div>
      </if>
    </div>
  </if></a>