div(class='field' body-only-if='!data.field')
  label(if='data.field') $data.field
  select(name='$data.name' class='ui $data.ui search dropdown' tab-index='$data.tab')
    select-opts(list='data.list')
