
<div class="$data.ui content">
  <ui-icons list="$data.icons" if="data.icons"></ui-icons>
  <div if="data.header" class="header">$data.header</div>
  <div if="data.data" class="meta"><span class="date">$data.date</span></div>
  <div if="data.desc" class="description">$data.desc</div>
  <ui-button attrs="data.btn" if="data.btn"></ui-button>
</div>