
<div class="$data.ui content">
  <if test="$data.icons">
    <ui-icons list="$data.icons"></ui-icons>
  </if>
  <if test="$data.header"><a class="header">$data.header</a></if>
  <if test="$data.meta">
    <div class="meta"><span class="date">$data.meta</span></div>
  </if>
  <if test="$data.desc">
    <div class="description">$data.desc</div>
  </if>
  <if test="$data.btn">
    <ui-button attrs="$data.btn"></ui-button>
  </if>
</div>