
<div class="$data.ui event">
  <div class="label">
    <ui-image attrs="$data.image" if="data.image"></ui-image>
  </div>
  <feed-content attrs="data.content" if="data.content"></feed-content>
</div>