
<div class="event">
  <div class="label"><img src="$data.src"></div>
  <div class="content">
    <if test="$data.date">
      <div class="date">$data.date</div>
    </if>
    <if test="$data.content">
      <div class="summary">$data.content</div>
    </if>
    <if test="$data.meta">
      <div class="meta">$data.meta</div>
    </if>
    <if test="$data.extra">
      <div class="extra">$data.extra</div>
    </if>
  </div>
</div>