
<div class="item">
  <ui-icon name="$data.icon.name" ui="$data.icon.name"></ui-icon>
  <div class="content"><a class="header">$data.label</a>
    <div class="description">$data.desc</div>
  </div>
</div>