
<div class="ui list">
  <for each="item in data.list">
    <icon-item ui="$item.ui" icon="$item.icon" desc="$item.desc" label="$item.label"> 
      <div class="description"> </div>
    </icon-item>
  </for>
</div>