div(class='$data.ui item' body-or='data.content')
  div(class='label' if='data.label')
    $data.label
  ui-icon(attrs='data.icon' if='data.icon')
  div(class='content' if='data.content')
    a(href='$data.link.url' if='data.link') ${data.link.label || data.link.url}
    xif(test='!data.link')
      a(class='header' if='data.header') $data.header
      div(class='description' if='data.desc')
        $data.desc
