<ins style="display:block;" data-ad-client="$data.client" data-ad-slot="$data.slot" data-ad-format="$data.ui" class="adsbygoogle"></ins>
<script async="" src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>