div(class='ui $data.ui ad' body-only-if='!data.ui')
  ins.adsbygoogle(style='display:block;', data-ad-client='$data.client', data-ad-slot='$data.slot', data-ad-format='$data.format')
  script(async='', src='http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
