
<div tag-body="" class="ui $data.ui modal">
  <div if="data.header" class="header">$data.header</div>
  <div if="data.content" class="content">$data.content</div>
  <div if="data.image" class="image content">
    <ui-image attrs="data.image"></ui-image>
    <div class="description">$data.image.caption      </div>
  </div>
  <div if="data.actions" class="actions">
    <for each="action in data.actions">   
      <ui-btn attrs="action"></ui-btn>
    </for>
  </div>
</div>