div(class='ui $data.ui modal' tag-body='')
  div(class='header' if='data.header') $data.header
  div(class='content' if='data.content') $data.content
  div(class='image content' if='data.image')
    ui-image(attrs='data.image')
    .description $data.image.caption      
  div(class='actions' if='data.actions')
    for(each='action in data.actions')    
      ui-btn(attrs='action')
