div(class='content')
  a(class='author' if='data.author') $data.author
  div(class='metadata' if='data.meta')
    span(class='$data.meta.ui') $data.meta.label
  div(class='text' body-or='data.text')
  div(class='actions' if='data.actions')
    for(each='action in data.actions')
      a(class='$action.ui') $action.label
