
<div class="ui $data.ui search">
  <txt-input ui="prompt" placeholder="${data.placeholder}">
    <ui-icon attrs="data.icon" if="data.icon"></ui-icon>
    <div if="data.results" tag-body="" class="results"></div>
  </txt-input>
</div>