
<div if="data.date" class="date">$data.date</div>
<div if="data.content" class="summary">$data.summary</div>
<div if="data.meta" class="meta">$data.meta</div>
<div if="data.extra" class="extra">$data.extra</div>