
<div class="ui $data.ui breadcrumb">
  <for each="item in data.list"><a class="$item.ui section">$item.label</a>
    <ui-icon attrs="item.icon" ui="divider right" if="item.icon"></ui-icon>
    <div if="!item.icon" tag-body="item.body || &quot;/&quot;" class="divider"> </div>
  </for>
</div>