div(class='ui $data.ui breadcrumb')
  for(each='item in data.list')
    a(class='$item.ui section') $item.label
    ui-icon(attrs='item.icon' ui='divider right' if='item.icon')
    div(class='divider' if='!item.icon' tag-body='item.body || "/"') 
